@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap");
/*
*       Variables Colors
*/
/*
*       Variables pour média queries
*/
.bold {
  font-weight: bold;
}

.gray {
  color: dimgray;
}

.accessibility-label {
  position: absolute;
  left: -999px;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  max-width: 1500px;
}
body fieldset {
  border: 0;
}
body header {
  box-shadow: 0 5px 10px lightgrey;
}
body header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2.3rem;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}
body header > div {
  display: flex;
}
body header .logo {
  display: flex;
  justify-content: center;
  flex-basis: 2rem;
  margin-left: 1rem;
  align-items: center;
}
body header .logo i {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
body header .titre {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}
body header .titre h1 {
  font-family: "Shrikhand", cursive;
}
body main {
  background-color: #EAEAEA;
}
body main img {
  height: 300px;
  object-fit: cover;
  object-position: 50% 70%;
  width: 100%;
}
body main .titre-menu {
  position: relative;
  top: -4rem;
  border-radius: 3rem 3rem 0 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 95%;
  padding-left: 2rem;
  background-color: #EAEAEA;
}
body main .titre-menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
}
body main .titre-menu i {
  display: flex;
  font-size: 2rem;
  padding-right: 3rem;
}
body main .titre-menu .layout-star {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
body main .titre-menu .layout-star .fa-solid.fa-heart {
  display: none;
}
body main .titre-menu .layout-star:hover {
  cursor: pointer;
  opacity: 0;
  background: linear-gradient(#9356DC 20%, #FF79DA 100%);
  animation: effet-opacity 1.5s ease;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body main .titre-menu .layout-star:hover .fa-regular.fa-heart {
  display: none;
}
body main .titre-menu .layout-star:hover .fa-solid.fa-heart {
  display: inline;
}
body main h3 {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  text-transform: uppercase;
  color: #353535;
  font-weight: normal;
  margin: 0;
  padding-bottom: 1rem;
  position: relative;
}
body main h3::after {
  position: absolute;
  top: 25px;
  content: "";
  height: 3px;
  width: 50px;
  background-color: #99E2D0;
}
body main .menus .articles .entrees, body main .menus .articles .plats, body main .menus .articles .desserts {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body main .menus .articles .entrees .article-menu, body main .menus .articles .plats .article-menu, body main .menus .articles .desserts .article-menu {
  display: flex;
  background-color: white;
  width: 100%;
  height: 60px;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-right: 1rem;
  box-shadow: 0 2px 5px darkgray;
}
body main .menus .articles .entrees .article-menu:hover .select-choix, body main .menus .articles .plats .article-menu:hover .select-choix, body main .menus .articles .desserts .article-menu:hover .select-choix {
  margin: 0;
  transition: all 0.5s;
  cursor: pointer;
}
body main .menus .articles .entrees .article-menu:hover .select-choix i, body main .menus .articles .plats .article-menu:hover .select-choix i, body main .menus .articles .desserts .article-menu:hover .select-choix i {
  animation: spin 1s;
}
body main .menus .articles .entrees .article-menu .description, body main .menus .articles .plats .article-menu .description, body main .menus .articles .desserts .article-menu .description {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content: space-between;
  width: calc(100% - 54px);
  padding: 0.5rem 0 0.5rem 1rem;
}
body main .menus .articles .entrees .article-menu .description:hover, body main .menus .articles .plats .article-menu .description:hover, body main .menus .articles .desserts .article-menu .description:hover {
  cursor: pointer;
}
body main .menus .articles .entrees .article-menu .description h4, body main .menus .articles .plats .article-menu .description h4, body main .menus .articles .desserts .article-menu .description h4 {
  margin: 0;
}
body main .menus .articles .entrees .article-menu .description p, body main .menus .articles .plats .article-menu .description p, body main .menus .articles .desserts .article-menu .description p {
  margin: 0;
}
body main .menus .articles .entrees .article-menu .prix, body main .menus .articles .plats .article-menu .prix, body main .menus .articles .desserts .article-menu .prix {
  display: flex;
  justify-content: center;
  width: 30px;
  font-weight: bold;
  align-items: flex-end;
  padding: 0 0.5rem 0.5rem 0;
  border-radius: 0 1rem 0rem 0;
}
body main .menus .articles .entrees .article-menu .prix:hover, body main .menus .articles .plats .article-menu .prix:hover, body main .menus .articles .desserts .article-menu .prix:hover {
  cursor: pointer;
}
body main .menus .articles .entrees .article-menu .select-choix, body main .menus .articles .plats .article-menu .select-choix, body main .menus .articles .desserts .article-menu .select-choix {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  align-items: center;
  border-radius: 0 1rem 1rem 0;
  width: 50px;
  margin-right: -4rem;
}
body main .menus .articles .entrees h3, body main .menus .articles .plats h3, body main .menus .articles .desserts h3 {
  display: flex;
  justify-content: flex-start !important;
  margin-left: 10px;
}
body main .btn-explore {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
body main .btn-explore label {
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 2rem;
  font-size: 1.3rem;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  margin-bottom: 3rem;
  box-shadow: 0 3px 10px darkgray;
  transition: 100ms;
}
body main .btn-explore label:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 3px 10px #FF79DA;
  transition: 0.5s;
}
body main .btn-explore h2 {
  font-size: 1.8rem;
  margin: 0;
  margin-top: 1.5rem;
  padding: 0 1rem;
  flex-basis: 100%;
}
body main .btn-explore h3 {
  font-size: 0.8rem;
  font-weight: inherit;
  margin: 0;
  margin-top: 1.5rem;
  padding: 0 1rem;
  flex-basis: 100%;
}
body footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 1rem 0 1rem 1.5rem;
}
body footer h1 {
  display: flex;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
body footer a {
  text-decoration: none;
  color: white;
  align-items: center;
}
body footer i {
  padding-right: 5px;
}

@media (min-width: 1000px) {
  body main .menus {
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  body main .menus .articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
  }
  body main .menus .articles .entrees, body main .menus .articles .plats, body main .menus .articles .desserts {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    flex-wrap: wrap;
    width: 60%;
    align-content: flex-start;
  }
  body main .menus .articles .entrees h4, body main .menus .articles .entrees p, body main .menus .articles .plats h4, body main .menus .articles .plats p, body main .menus .articles .desserts h4, body main .menus .articles .desserts p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  body main .menus .articles .entrees p, body main .menus .articles .plats p, body main .menus .articles .desserts p {
    font-size: 0.9rem;
  }
  body main .menus .articles .entrees .article-menu, body main .menus .articles .plats .article-menu, body main .menus .articles .desserts .article-menu {
    display: flex;
    background-color: white;
    width: 100%;
    height: 60px;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-right: 1rem;
    box-shadow: 0 2px 5px darkgray;
  }
  body main .menus .articles .entrees .article-menu:hover .select-choix, body main .menus .articles .plats .article-menu:hover .select-choix, body main .menus .articles .desserts .article-menu:hover .select-choix {
    margin: 0;
    transition: all 0.5s;
    cursor: pointer;
  }
  body main .menus .articles .entrees .article-menu:hover .select-choix i, body main .menus .articles .plats .article-menu:hover .select-choix i, body main .menus .articles .desserts .article-menu:hover .select-choix i {
    animation: spin 1s;
  }
  body main .menus .articles .entrees .article-menu .description, body main .menus .articles .plats .article-menu .description, body main .menus .articles .desserts .article-menu .description {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: space-between;
    width: calc(100% - 54px);
    padding: 0.5rem 0 0.5rem 1rem;
  }
  body main .menus .articles .entrees .article-menu .description:hover, body main .menus .articles .plats .article-menu .description:hover, body main .menus .articles .desserts .article-menu .description:hover {
    cursor: pointer;
  }
  body main .menus .articles .entrees .article-menu .description h4, body main .menus .articles .plats .article-menu .description h4, body main .menus .articles .desserts .article-menu .description h4 {
    margin: 0;
  }
  body main .menus .articles .entrees .article-menu .description p, body main .menus .articles .plats .article-menu .description p, body main .menus .articles .desserts .article-menu .description p {
    margin: 0;
  }
  body main .menus .articles .entrees .article-menu .prix, body main .menus .articles .plats .article-menu .prix, body main .menus .articles .desserts .article-menu .prix {
    display: flex;
    justify-content: center;
    width: 30px;
    font-weight: bold;
    align-items: flex-end;
    padding: 0 0.5rem 0.5rem 0;
    border-radius: 0 1rem 0rem 0;
  }
  body main .menus .articles .entrees .article-menu .prix:hover, body main .menus .articles .plats .article-menu .prix:hover, body main .menus .articles .desserts .article-menu .prix:hover {
    cursor: pointer;
  }
  body main .menus .articles .entrees .article-menu .select-choix, body main .menus .articles .plats .article-menu .select-choix, body main .menus .articles .desserts .article-menu .select-choix {
    display: flex;
    justify-content: center;
    background-color: #99E2D0;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    align-items: center;
    border-radius: 0 1rem 1rem 0;
    width: 50px;
    margin-right: -4rem;
  }
  body main .btn-explore {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  body main .btn-explore label {
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 2rem;
    font-size: 1.3rem;
    background: linear-gradient(#FF79DA, #9356DC);
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    margin-bottom: 3rem;
    box-shadow: 0 3px 10px darkgray;
    transition: 100ms;
  }
  body main .btn-explore label:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 3px 10px #FF79DA;
    transition: 0.5s;
  }
  body main .btn-explore h2 {
    font-size: 1.8rem;
    margin: 0;
    margin-top: 1.5rem;
    padding: 0 1rem;
    flex-basis: 100%;
  }
  body main .btn-explore h3 {
    font-size: 0.8rem;
    font-weight: inherit;
    margin: 0;
    margin-top: 1.5rem;
    padding: 0 1rem;
    flex-basis: 100%;
  }
  body main footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  body main footer h1 {
    margin-left: 5%;
    margin-right: 4%;
  }
  body main footer .footer {
    display: inline-flex;
    gap: 10px;
  }
}

/*# sourceMappingURL=restaurants.css.map */
