@import './_variables';
@import './_mixins';

body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    max-width: $max-width;


    header {
        
        @include intro;   //*  Mixin de l'intro 
        
        h1 {
            font-family : 'Shrikhand', cursive;
            font-size: 2.3rem;
            margin: 0;
            padding: 1rem 0;
            text-align: center;
         
        }
    }

    .nav-bar {
        text-align: center;
        background-color: $--graywhite;
        .search-bar {
            margin-top: 5px;
            font-size: 1.3rem;
            padding-top: 1rem;
            align-items: center;
            background-color: $--ultralightgray;
            input {
                border: none;
                font-size: 1.3rem;
                width: 200px;
                margin-left: 1rem;
                margin-bottom: 1rem;
                background-color: $--ultralightgray;
                &:focus {
                    outline-color: $--darkgray;
                }
            }
            
            

        }

        .btn-explore .subtitle {
            margin-bottom: 3rem;
            .btn-explore .subtitle {
                margin-bottom: 3rem;
            }
        }
        @include btn-style(); // Mixin du bouton

    }
    
    main {

        .menu {
            margin-bottom: 2rem;
            h2 {
                display: flex;
                margin: 2rem 0 0 3rem;
            }
            ol {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                justify-content: center;
                li {
                    width: 280px;
                    background-color: $--graywhite;
                    border-radius: 1rem;
                    padding: 1.5rem 0;
                    box-shadow: 0 3px 5px $--darkgray;
                    transition: transform 1s;
                    font-size: 1.1rem;
                    i {
                        margin-right: 0.5rem;
                    }
                    span {
                        position: relative;
                        left: -1rem;
                        border: 1px solid $--primary;
                        padding: 0.4rem 0.8rem;
                        border-radius: 50%;
                        font-weight: bold;
                        background-color: $--primary;
                        color: white;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: $--lightpurple;
                        box-shadow: 0 3px 5px $--secondary;
                        transition: 0.5s;
                        transform: scale(1.02);
                        i {
                            color: $--primary;
                        }
                    }
                }
            }
        }
    
        .restaurants {
            padding-bottom: 4rem;
            background-color: $--graywhite;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem;
            .card {
                cursor: pointer;
                position: relative;
                min-width: 300px;
                height: 270px;
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                margin: 1rem 1rem 0 1rem;
                background-color: white;
                border-radius: 1rem;
                box-shadow: 0 3px 8px $--darkgray;
                img {
                    width: 100%;
                    object-fit: cover;
                    min-height: 200px;
                    max-height: 200px;
                    border-radius: 1rem 1rem 0 0;
                }
                .description {
                    display: flex;
                    justify-content: space-between;
                    padding-right: 15px;
                    .layout {
                        width: 85%;
                        h3, p {
                            margin: 0;
                            padding: 0.3rem 0 0 1rem;
                        }
                        .layout-star {
                            width: 30px;
                        }
                    }
                    
                }
                a {
                    text-decoration: none;
                    color: inherit;
                }
                &:hover {
                    box-shadow: 0 0 10px $--primary;
                    transform: scale(1.01);
                    transition: 0.5s;
                }
            }
            span {
                position: absolute;
                content: "";
                right: 10px;
                top: 20px;
                font-weight: bold;
                background-color: $--lightgreen;
                color: $--green;
                padding: 0.5rem;
                width: 65px;
            } 
            h2 {
                margin: 1rem 0 0 1rem;
                display: flex;
                padding-top: 2rem;
                width: 100%;
            }
        }

    }

    footer {
        display: flex;
        flex-direction: column;
        background-color: $--grayblack;
        color: white;
        padding: 1rem 0 1rem 1.5rem;
        h1 {
            display: flex;
            font-family: 'Shrikhand', cursive;
            font-weight: normal;
        }
        a {
            text-decoration: none;
            color: white;
            align-items: center;
        }
        i {
            padding-right: 5px;
        }
       
    }
}

@media (min-width: 1000px) {
    body {
        main {
            .restaurants {
                h2 {
                    margin: 1rem 0 0 10rem;
                }
                .card {
                    flex-basis: 35%;
                      }
                         }
                         .menu {
                            margin-bottom: 2rem;
                            h2 {
                                display: flex;
                                margin: 2rem 0 0 10rem;
                            }
                        }
            footer {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                h1{

                    margin-left:5%;
                    margin-right:4%;

                   }
                .footer {
                    display: inline-flex;
                    gap:10px;
                }   }
            }
    }    

}